body{
  min-height: 100vh;
  width: 100%;
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: Tahoma;
  text-align: center;
  background: rgb(233,208,77);
  background: linear-gradient(11deg, rgb(239, 239, 239) 0%, rgb(128, 113, 113) 100%);



}

mat-card {
  width: 400px;
  height: 50px;
}
