body{

  table{
    padding:20px;
    border: 2px solid lightgray;
    box-shadow: 3px 5px 13px 1px rgba(98, 98, 101, 1);

    td{
      border-bottom: 2px solid gray;
    }
  }

  img{
    padding:20px 40px 20px 20px;
    width: 100px;
    height: 100px;
  }
}
